[submodule "src/lib/bgfx"]
	path = lib/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "src/lib/bx"]
	path = lib/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "lib/bullet3"]
	path = lib/bullet3
	url = git@github.com:bulletphysics/bullet3.git
